@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'LeeSeoyun';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Pretendard-Regular';
}

nav {
    background-color: white;
}

  
.nav-container {
    padding: 1rem 0;
    display: block;
    margin: auto;
    text-align: center;
  }
  
  .nav-title {
    width: 25%;
    height: 25%;
  }

.nav-title {
    font-size: 3rem;
}

.nav-contact {
    font-size: 2.5rem;
    border: 0;
    background: none;
    cursor: pointer;
    font-family: inherit;
}

.category-title {
    font-size: 3.5rem;
}

.category-item {
    width: 25%;
    height: 5rem;
    background: none;
    border: none;
    font-family: inherit;
    font-size: 1.6rem;
}

.category-item:hover {
    color: rgb(78, 162, 98);
    cursor: pointer;
}

.nav-container:hover {
    color: rgb(78, 162, 98);
    cursor: pointer;
}

.inner {
    padding: 0 1.5rem;
}

@media all and (min-width: 1024px) {
    .inner {
        max-width: 1024px;
        margin: 0 auto;
    }
}

body {
    height: 100vh;
}

nav {
    height: 59px;
}

main {
    padding-top: 1.5rem;
    height: calc(100% - 59px);
    display: flex;
    flex-direction: column;
}

#map {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    font-family: 'LeeSeoyun';
}

  .fixed-category {
    width: 50%;
    height: 5rem;
    background: none;
    border: none;
    font-family: inherit;
    font-weight: bold;
    font-size: 1.7rem;
  }
